<header class="container mx-auto max-w-4xl py-4 mb-6 flex justify-between items-center">
  <h1 class="text-3xl font-bold">
  <%= link_to "Hanaso", root_path, class: "text-pink-500 hover:text-pink-600 no-underline" %>
  </h1>


  <nav class="space-x-4">
    <% if user_signed_in? %>
      <%= link_to "ログアウト",
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: "text-sm text-gray-500 hover:text-pink-500 transition-colors" %>
    <% else %>
      <%= link_to "新規登録",
          new_user_registration_path,
          class: "text-sm text-gray-500 hover:text-pink-500 transition-colors" %>

      <%= link_to "ログイン",
          new_user_session_path,
          class: "text-sm bg-pink-500 text-white py-2 px-4 rounded-full hover:bg-pink-600 transition-colors" %>
    <% end %>
  </nav>
</header>
